 body {
   background-image:url("http://www.zingerbug.com/Backgrounds/background_images/light_turquoise_bricks_pattern.gif")
  }
  
 header {
   background-color:#bbbbbb;
   width:100%;
   height:60px;
   bottom:0px;
   margin-bottom:0px;
   
  }
  
 #title {
   margin-top:0px;
   top:0px;
   width:100%;
   height:8%;
   background-color:cyan;
   
  }
  
 #assignments {
   top:0px;
   right:0px;
   width:15%;
   height:500px;
   background-color:#33bb33;
   float:left;
   
 } 
 
 #interactive	{
   width:70%;
   height:500px;
   left:0px;
   right:0px;
   float:left;
 	
 }
 
 #rightside {
   top:0px;
   left:0px;
   width:15%;
   height:500px;
   background-color:#33bb33;
   float:left;
 }
 
 #sitetitle {
   position:relative;
   margin-top:20px;
   font-size:28pt;
   text-align:center;
   font-family: helvetica;
   color:#FF85C2;
 }
  
  
  
