 body {
   background-image:url("http://www.zingerbug.com/Backgrounds/background_images/light_turquoise_bricks_pattern.gif")
  }
  
 header {
   position:fixed;
   background-color:#bbbbbb;
   top:0px;
   left:0px;
   width:100%;
   height:20px;
  }
  
 #title {
   width:100%;
   height:8%;
   top:20px;
   background-color:cyan;
   font-size:28pt;
   text-align:center;
   font-family: helvetica;
   color:#FF85C2;
  }
  
 #assignments {
   top:0px;
   right:0px;
   width:15%;
   height:500px;
   background-color:#33bb33;
   float:left;
   
 } 
 
 #interactive	{
   width:70%;
   background-color:#2222ee;
   left:0px;
   right:0px;
   float:left;
 	
 }
 
 #rightside {
   top:0px;
   left:0px;
   width:15%;
   height:500px;
   background-color:#33bb33;
   float:left;
 }
  
  
  
