
      body {
          background-image:url("http://www.zingerbug.com/Backgrounds/background_images/light_turquoise_bricks_pattern.gif")
          
      }
      table {
          font-size:20pt;
          border-style:solid;
          border-spacing:10px;
          border-color:black;
          font-family:fantasy;
          text-align:center;
      }   
	
       header {
          position:fixed;
          background-color:#bbbbbb;
          top:0px;
          left:0px;
          width:100%;
          height:20px;
        }
        nav {
          margin-top:20px;
          margin-bottom:50px;
          width:100%;
          background-color:cyan;
          font-size:28pt;
          text-align:center;
          font-family: helvetica;
	    color:#FF85C2;
        }
        
        aside {
        	height:300px;
        	width:200px;
        	position:fixed;
        	
        }
   
        p#position {
        	font-size:20px;
        	color:#ff99ff;
        	position:fixed;
        	
        	z-index:20;
        }
        
        section.home	{
        	width:15%;
        	height:500px;
        	background-color:#33bb33;
        }
        
        section#biggerbox	{
        	position:absolute;
        	width:100%;
        	height:100%;
        	background-color:#bb33bb;
        	
        }
        
        .picture {
        	height:100px;
        	
        }
        img#pica	{
        	position:static;
        }
        img#picb	{
        	position:fixed;
        	z-index:4;
        }
        img#picc {
    position: relative;
    top: 20px;
    left: -100px;
}

	section#scrollbox {
		position:relative;
		overflow:scroll;
		width:100;
		height:100;
		z-index:16;
		background-color:green;
		
	}


        img#picd	{
        	margin-top:50px;
        	position:absolute;
        }
        
         img#pice	{
        	
        	position:absolute;
        }
        
        section#catbugbox	{
        	position:absolute;
        	height:1175;
        	width:300;
        	
        	background-color:red;
        	
        	
        	
        	
        }
        
        #desk	{
        	top:500px;
        	left:75px;
        	width:150px;
        	position:absolute;
        	z-index:10;
        }
        
        .leftsiide {
        left:0px;
        }
      	section#rightside {
      	float:right;
      	position:relative;
      	top:500px;
      	
      	}
      	
      	p#realpage	{
      		font-size:20px;
        	color:#ff99ff;
        	position:relative;
        	right:-300px;
        	
        	z-index:20;
      	}
     
      
      .titlerow {
       text-align:center;
       background-color:#33bb33;
       
      }
      
      .labelrow {
       background-color:#bb3333;
      }
      .odd {
          background-color:#9999ff;
      }
      .activity {
        background-color:#66ffff;
      }
      .even {
          background-color:#ff9999;
      }
      
      .classes {
          rowspan:'4';
          text-align:center;
      }
      
      .timeslot {
          background-color:#99ff99;
      }
      .days {
       colspan:'12%';
      }
    
         section#mainbox {
         	left:300px
         	top:300px;
         	width:66%;
         	height:66%;
         	background-color:#666666;
         	position:absolute;
         	
         }
          
        aside.testbox {
        	position:relative;
        	background-color:#333333;
        	width:200px;
        	height:200px;
        }
        
       aside#1 {
       	left:100px;
       }
       
       aside#2 {
       	left:200px;
       	top:100px;
       } 
  
   	aside#3	{
   		left:300px;
   		top:200px;
   	}
