
      body {
          background-image:url("http://www.zingerbug.com/Backgrounds/background_images/light_turquoise_bricks_pattern.gif")
          
      }
      table {
          font-size:20pt;
          border-style:solid;
          border-spacing:10px;
          border-color:black;
          font-family:fantasy;
          text-align:center;
      }   

       header {
          position:fixed;
          background-color:#bbbbbb;
          top:0px;
          left:0px;
          width:100%;
          height:20px;
        }
        nav {
          margin-top:20px;
          margin-bottom:50px;
          width:100%;
          background-color:cyan;
          font-size:28pt;
          text-align:center;
          font-family: helvetica;
	    color:#FF85C2;
        }
        
        section.home	{
        	width:15%;
        	height:500px;
        	background-color:blue;
        }
        
        .picture {
        	height:100px;
        	
        }
        img#pica	{
        	position:static;
        }
        img#picb	{
        	position:fixed;
        }
        img#picc {
    position: relative;
    top: 20px;
    left: -100px;
}

        img#picd	{
        	margin-top:50px;
        	position:absolute;
        }
        section#catbugbox	{
        	height:1200;
        	width:300;
        	position:relative;
        	background-color:red;
        	right:300px;
        	
        	
        	
        }
        
        .leftsiide {
        left:0px;
        }
      	section#rightside {
      	float:right;
      	
      	}
     
      
      .titlerow {
       text-align:center;
       background-color:#33bb33;
       
      }
      
      .labelrow {
       background-color:#bb3333;
      }
      .odd {
          background-color:#9999ff;
      }
      .activity {
        background-color:#66ffff;
      }
      .even {
          background-color:#ff9999;
      }
      
      .classes {
          rowspan:'4';
          text-align:center;
      }
      
      .timeslot {
          background-color:#99ff99;
      }
      .days {
       colspan:'12%';
      }
    
          
          
        
        
       
        
  
   
